# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Node.js environment
node_modules/
package-lock.json
npm-debug.log
yarn.lock
yarn-error.log
pnpm-lock.yaml

# Build output
dist/
out-tsc/
bazel-out/

# Angular
.angular/
.angular/cache

# Config & hidden files
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace
/.cache/
.DS_Store
Thumbs.db
.history/*

# Test & coverage
coverage/
*.lcov
/libpeerconnection.log
testem.log

# Distribution
src/environments/environment*.ts

# Editor configs
/.editorconfig
/.eslintcache
/.prettierignore
/.prettierrc

# Temporary files
/tmp/
.sass-cache/
/connect.lock
/typings