@if (item()) {
  @if (item().children?.length) {
    <div class="relative w-full">
      <button 
        (click)="toggle()" 
        [ngClass]="getItemClasses(item())"
        class="px-3 py-2 gap-2 flex items-center 
              rounded-md  md:text-base font-medium 
              text-sm w-full text-left"
        aria-haspopup="true"
        [attr.aria-expanded]="isOpen()"
      >
        <div class="flex gap-2 items-center">
          @if (item().iconClass) {
            <i [class]="item().iconClass"></i>
          }
          <span class="break-word">{{ item().label }}</span>
        </div>
        <i class="fas fa-chevron-down mr-2 ml-auto text-xs"></i>
      </button>

      <!-- Desktop dropdown -->
      <div [ngClass]="{
                'block': isOpen(),
                'hidden': !isOpen(),
                'absolute left-6 bg-white dark:bg-gray-800 shadow-md dark:shadow-gray-400/30 rounded-md mt-1 py-1 w-48 z-90': item().childrenOpenWindow,
                'px-4 mt-1': !item().childrenOpenWindow
            }"
      >
        @for (child of item().children; track $index) {
          <app-znav-items
            [item]="child"
            [collectionName]="collectionName() + '-' + index()"
            (anyItemClicked)="this.anyItemClicked.emit($event)"
          >
          </app-znav-items>
        }
      </div>
    </div>
  } @else {
    <a
      [routerLink]="item().routerLink"
      [ngClass]="getItemClasses(item())"
      class="px-3 py-2 gap-2 
            flex items-center rounded-md 
            text-sm md:text-base font-medium"
      (click)="onItemClick()"
    >
      @if (item().iconClass) {
        <i [class]="item().iconClass"></i>
      }
      <span class="break-word">{{ item().label }}</span>
    </a>
  }
}