@if (item()) {
  @if (item().children?.length) {
    <div class="relative w-full">
      <button 
        (click)="toggle()" 
        class="text-gray-600 hover:text-gray-900 
              px-3 py-2 rounded-md 
              text-sm md:text-base font-medium 
              flex items-center w-full md:w-auto text-left"
        aria-haspopup="true"
        aria-expanded="{{ isOpen() }}"
      >
        {{ item().label }}
        <i class="fas fa-chevron-down ml-1 text-xs"></i>
      </button>

      <!-- Desktop dropdown -->
      <div [ngClass]="{
                'block': isOpen(),
                'hidden': !isOpen(),
                'absolute left-6 bg-white shadow-lg rounded-md mt-1 py-1 w-48 z-50': !forMobile(),
                'pl-4 mt-1': forMobile()
            }"
      >
        @for (child of item().children; track $index) {
          <a
            [routerLink]="child.routerLink"
            [ngClass]="child.textColor ? child.textColor : 'text-gray-700'"
            class="gap-2 flex justify-start items-center 
                  px-3 md:px-4 py-2 
                  text-sm md:text-base 
                  hover:bg-gray-100 rounded-md"
            (click)="onChildClick(child)"
          >
            @if (child.icon) {
              <i [class]="child.icon"></i>
            }
            <span>{{ child.label }}</span>
          </a>
        }
      </div>
    </div>
  } @else {
    <a
      [routerLink]="item().routerLink"
      [ngClass]="item().textColor ? item().textColor : 'text-gray-600'"
      class="hover:text-gray-900 
             px-3 py-2 gap-2 flex items-center 
             rounded-md 
             text-sm md:text-base font-medium"
      (click)="onItemClick()"
    >
      @if (item().icon) {
        <i [class]="item().icon"></i>
      }
      <span>{{ item().label }}</span>
    </a>
  }
}
