/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import '../using-fontawesome/css/all.min.css';
@custom-variant dark (&:where(.dark, .dark *));

a, button {
    cursor: pointer;
}

/* ====== Day mode ====== */
.shadow-sm-all {
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.shadow-md-all {
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.shadow-lg-all {
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

/* ====== Night mode (Dark) ====== */
.dark .shadow-sm-all-night {
  box-shadow: 0 0 2px rgba(156,163,175,0.3);
}

.dark .shadow-md-all-night {
  box-shadow: 0 0 6px rgba(156,163,175,0.3);
}

.dark .shadow-lg-all-night {
  box-shadow: 0 0 12px rgba(156,163,175,0.3);
}